html {
  background-color: #332c34;
}

#homeSplash {
  width: 100%;
  height: 80vh;
  background-image: url("./assets/splash.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splashText {
  font-family: "VT323", monospace;
  font-size: 4rem;
  line-height: 1.2;
  color: #332c34;
}

.introduction {
  margin: 32px 32px 64px 32px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.introTextHeading {
  font-family: "VT323", monospace;
  font-size: 2rem;
  line-height: 1.2;
  color: #9399bb;
}

.introTextBody {
  max-width: 700px;
  font-family: "Space Mono", monospace;
  line-height: 1.2;
  color: #ef9996;
}
