html {
  background-color: #332C34;
}

#homeSplash {
  width: 100%;
  height: 80vh;
  background-image: url("./assets/splash.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splashText {
  font-family: 'VT323', monospace;
  font-size: 3rem;
  line-height: 1.2;
  color:#332C34;
}

.introduction {
  margin: 64px 32px 64px 32px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.introTextHeading {
  font-family: 'VT323', monospace;
  line-height: 1.2;
  color: #9399BB;
}

.introTextBody {
  max-width: 512px;
  font-family: 'Space Mono', monospace;
  line-height: 1.2;
  color: #EF9996;
}
